# Ignore environment files
.env

# Ignore Python virtual environments
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Alembic cache
alembic/__pycache__/

# Editor/IDE settings (optional)
.vscode/
.idea/
